#
# ~/.scripts/.aliases
#

# aliases 
alias dd='dd status=progress' 
alias ll="ls -lsha" 
 
# system
alias progs="(pacman -Qet && pacman -Qm) | sort -u" # List programs I've installed 
alias p="sudo pacman" 
alias SS="sudo systemctl" 
alias v="vim" 
alias sv="sudo vim" 
alias ka="killall" 
alias g="git" 
alias mkd="mkdir -pv" 
alias setleds="~/.scripts/.logitech_g910_leds.sh"
alias cpuinfo="cat /proc/cpuinfo"
alias uniremote="/opt/urserver/urserver --daemon"
alias cp="rsync -aP"
alias psyu="sudo update-secure"
alias check="sudo check-update-diffs"
alias revert="sudo revert-update"
alias dc="docker-compose"


# Internet 
alias ytd="youtube-dl --add-metadata -ic" # Download video link 
alias ytda="youtube-dl --add-metadata -xic" # Download only audio 
alias ytv="youtube-viewer" 
alias chrome="google-chrome-stable > /dev/null 2>&1 &"
 
# Development 
alias intellij="idea"
alias mvnb="mvn -B archetype:generate -DarchetypeGroupId=org.apache.maven.archetypes"
alias prog="cd /home/cleptes/Programming"
alias py="python"
alias netbeans="/usr/bin/netbeans"
