[Unit]
Description=Sync progs with hdd
Before=shutdown.target

[Service]
ExecStart=/bin/true
ExecStop=/home/cleptes/.scripts/sync_on_shutdown.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
